.pro-annee-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) { 
     .profession {
      width: 80% !important;
    }
  }