

.school-tag {
    background-color: #7b1420d4;
    color: white;
    border-radius: 15px;
    padding: 4px 7px;
    margin-left: 10px !important;
    font-size: 14px !important;
}

.avatar {
    border: 1px solid #7b1420d4;
    width: 100px;
}

.job-tag {
    display: inline-block;
    
    color:black;
    width: 258px;
   
    
}

.MuiListItemText-primary{
    font-size: 18px !important;
    font-weight: bold !important;
}

/* .job-box{
    display: inline-block;
    width: 300px;
    margin: 0;
} */

.MuiTypography-displayBlock{
    display: flex;
    flex-direction: row;
}