.container-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.name-user {
    margin-top: 15px;
    font-size: 28px;
}

.picture {
    width:140px;
    height:140px;
    border: 1px solid beige;
}

.contact-container {
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
    height: 100px;
}

.logo {
    width: 45px;
    height: 45px;
    margin: 4px 30px 4px 38px;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

.detail {
    margin: 6px 20px 0px 20px;
    background-color: #7b1420d4;
    color: white;
    border-radius: 15px;
    padding: 3px 6px;
    margin-left: 10px !important;
    font-size: 14px !important;
}

.detail-job{
    margin: 2px 20px 0px 20px;
    font-size: 15px;
    font-weight: 600;
}

.profession {
    margin: 8px 20px 0px 20px;
    font-size: 20px;
    font-weight: bold;
}

.bio {
    margin: 20px 40px 30px 40px;
}

.year {
    font-style: italic;
}

.school {
    font-weight: bold;
    font-size: 15px;
}

.container-user .contact {
    margin-bottom: 6px;
    color: black;
    background-color: gainsboro;
    border: black 1px solid;
}

.contact-title {
    font-size: 20px;
    margin-top: 15px;
}

.mail-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
}

.phone {
    font-weight: bold;
    margin-right: 0px;
    margin-top: 6px;
    border-radius: 15px;
    padding: 1px 4px;
    background-color: black;
    color: white;
}

 .name{
    text-transform: uppercase;
}

.container-user .contact {
    color:#7b1420d4;
    background-color: white;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #7b1420d4;
}

.container-user .contact:hover {
    color: white;
    background-color: #7b1420d4 ;
    font-weight: bold;
}

.line {
    width: 280px;
    border-top: 1px solid #7b1420d4;
    margin-top: 25px;
}

.email {
    margin-right: 5px;
    font-weight: bold;
    margin-top: 24px;
    border-radius: 15px;
    padding: 1px 4px;
    background-color: #df4133;
    color: white;
}

.btn-download {
    border-radius: 25px;
    border: 1px solid #7b1420d4 ;
    color: #7b1420d4;
    background-color: #fafafa;
    font-weight: bold;
}

.btn-download:hover {
    border-radius: 25px;
    border: 1px solid #fafafa ;
    color: #fafafa;
    background-color: #7b1420d4;
    font-weight: bold;
}

.validate{
background-color: green ;
color: #fafafa;
font-size: 15px;
font-weight: bold;
border: 1px solid #7b1420d4 ;
border-radius: 15px;
padding: 5px 10px 5px 10px;
margin: 0 4px 0 4px;
}

.validate:hover{
    background-color: #fafafa;
    color:green;
}

.cancel:hover{
    background-color: #fafafa;
    color:red ;
}

.cancel{
    background-color: red ;
    color : #fafafa;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #7b1420d4 ;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin: 0 4px 0 4px;   
}

.box-btn-val{
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-direction: row;
 margin-top: 40px;
 width: 100%;
}