#big-container-block{
    width: 100vw;
    background-color: #fafafa;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
 }

#small-container-block {
    width: 70%;
    height: 640px;
    background-color: #7E232F;
    justify-content: center;
    position: absolute;
    margin-top: 520px;
    padding-top: 2%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 0.5%;
}

#filter-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 #filter-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction: column;
}

#filter-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 15px auto;
    width: 100%;
 }

#container-filtre{
margin: 0 10px 0 10px;
height: 500px;
overflow-y:scroll;
}

@media (max-width: 992px) {
    #filter-div2 {
        display: flex;
        flex-direction: column;
    }
    #small-container-block {
        height: 708px;
    }
}

