#big-container-block{
    width: 100vw;
    background-color: #fafafa;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid black;
 }

#small-container-block {
    width:70%;
    height: 600px;
    background-color: #7E232F;
    /* display: flex; */
    justify-content: center;
    overflow: scroll;
    border: 1px solid black;
}

#filter-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


 #filter-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction: column;
}

#filter-div2 {
 
    display: flex;
    justify-content: center;
    align-items: center;
 }

 



 
 