 .input-modal {
  margin: 8px;
}

 .input-modal {
  border: 1px solid #862628;
}

.ant-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

 .modal-register .dateJob {
  display: flex;
  align-items: center;
  flex-direction: row;
  width:100%;
}

.modal-register .dateJob2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.confirm{
  color: red;
  display: none;
  font-size: 8px;
}

.star-box {
  display: flex;
  flex-direction: row;
}

#input-image {
height:60px;
width:60px;
}

#picture-span {
  margin: auto auto;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

.ant-modal-footer .ant-btn-primary {
  background-Color:#862628 ;
  color:#fafafa;
  border: 1px solid gray;
}

.ant-modal-footer .ant-btn-primary:hover {
  background-Color:#bb5254 ;
  color:#fafafa;
  border: 1px solid gray;
}

.ant-modal-footer .ant-btn:hover {
  border : 1px solid gray;
}
.modal-register .ant-space-vertical  {
  width: 40%;
  margin-left: 50px;
}

.modal-register .date-job-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
   width: 100%;
   margin-bottom: 10px;
}

.ant-select-customize-input{
  width: 200px;
}

.input-Two{
  margin: 8px;
}

.button-cv {
  margin: 8px;
}

.modal-two {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.modal-register .ant-select-selector{
  width: 50%;
  margin: 8px 8px 8px 0 ;
}

.modal-register .ant-picker {
  width:100%;
}

.cursus {
  margin-bottom: 2px;
}