.footer{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
   width: 100%;
   background-color: #fafafa;
   height: 12%;
   z-index:2;
   bottom: 0;
   position:absolute;
   box-shadow: 0 0 10px 10px rgba(0,0,0,0.19);
 }
 
 .social-container{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-items: center;
   margin-right: 4%;
 }
 
 .website-box{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-left: 7%;
 }
 
 .website{
   color: black;
   font-weight: bold;
   margin: 0 0 2px 0;
 }

 .official-website{
   width: 35px;

 }

 .official-website:hover{
  transform: scale(1.1);
  transition: 0.6s;
 }
 
 .follow-box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
 }
 
 .follow {
   color: black;
   font-weight: bold;
   margin-bottom: 2px;
 }
 
 .social-media{
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   margin-right: 5%;
 }
 
 .logo-r{
   width: 32px;
   margin:2px 5px 5px 12px;
   color: #7E232F;
 
 }
 .logo-f{
  width: 35px;
  height: 36px;
  margin:2px 5px 5px 12px;
  color: #7E232F;
}

.logo-f:hover{
  transform: scale(1.1);
     transition: 0.6s;
}
 
 .logo-r:hover{
   transform: scale(1.1);
     transition: 0.6s;
 }

 .line{
   width:90px;
   border-top: 1px solid #7E232F;
   margin: 0 0 8px 0;
 }

 @media (max-width: 576px) { 
  .footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
     width: 100%;
     background-color: #fafafa;
     
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.19);
    position: relative;
   }

   .social-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    margin-right: 0;
  }
  
  .website-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  .logo-r{
    width: 27px;
    margin:2px 2px 2px 12px;
    color: #7E232F;
  
  }
  .logo-f{
   width: 29px;
   height: 30px;
   margin:2px 2px 2px 12px;
   color: #7E232F;
}

 }


@media (max-width: 767px) { 
  
}


@media (max-width: 992px) {

}


@media (max-width: 1200px) { }